$var-color-font-main: #343030;
$var-color-font-footer: #555555;

$var-color-button-normal: #403432;
$var-color-button-hover: #776763;
$var-color-button-disable: #C1B4B1;
$var-color-button-in-cart: #5B3A32;
